Repository wingyplus/line_ex, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/line_ex_webhook, area/line_ex_messaging_api, area/examples, area/ci, area/documentation

Run mix format
  line_ex_webhook/test/line_ex/webhook_test.exs
Labels: area/line_ex_webhook

Add oauth2 api and move request api to LineEx.MessagingApi
  line_ex_messaging_api/lib/line_ex/messaging_api.ex
  line_ex_messaging_api/lib/line_ex/messaging_api/message.ex
  line_ex_messaging_api/lib/line_ex/messaging_api/oauth2.ex
Labels: area/line_ex_messaging_api

Add GitHub workflow matrix
  .github/workflows/line-ex-messaginging-api.yaml
Labels: area/ci

Bump telemetry to 1.0
  line_ex_webhook/mix.exs
Labels: area/line_ex_webhook

Use tesla from elixir-tesla/tesla
  line_ex_messaging_api/mix.exs
  line_ex_messaging_api/mix.lock
  line_ex_webhook/mix.lock
Labels: area/line_ex_webhook, area/line_ex_messaging_api

Bump tesla and add get content api
  line_ex_messaging_api/lib/line_ex/messaging_api.ex
  line_ex_messaging_api/lib/line_ex/messaging_api/message.ex
  line_ex_messaging_api/mix.exs
  line_ex_messaging_api/mix.lock
Labels: area/line_ex_messaging_api

Attach channel_access_token to the webhook
  line_ex_webhook/lib/line_ex/webhook.ex
Labels: area/line_ex_webhook

Return headers when give it an option
  line_ex_messaging_api/lib/line_ex/messaging_api.ex
  line_ex_webhook/mix.lock
Labels: area/line_ex_webhook, area/line_ex_messaging_api

Eliminate warnings
  line_ex_messaging_api/lib/line_ex/messaging_api.ex
Labels: area/line_ex_messaging_api

Resolve channel access token at runtime
  line_ex_webhook/lib/line_ex/webhook.ex
Labels: area/line_ex_webhook

Resolve channel secret at runtime
  line_ex_webhook/lib/line_ex/webhook/plug.ex
Labels: area/line_ex_webhook

.github/labeler.yaml:

area/line_ex_webhook:
  - line_ex_webhook/**
  - .github/workflows/line-ex-webhook.yaml

area/line_ex_messaging_api:
  - line_ex_messaging_api/**
  - .github/workflows/line-ex-messaging-api.yaml

area/examples:
  - examples/**

area/ci:
  - .github/**

area/documentation:
  - README.md
  - "**/README.md"
